@model Customer
@{
    ViewBag.Title = "Update a Customer";
}

<h2>Update a Customer <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="id"></label>
        <input class="form-control" asp-for="id" readonly />
    </div>
    <div class="form-group">
        <label asp-for="firstname"></label>
        <input class="form-control" asp-for="firstname" />
    </div>
    <div class="form-group">
        <label asp-for="lastname"></label>
        <input class="form-control" asp-for="lastname" />
    </div>
    <div class="form-group">
        <label asp-for="gender"></label>
        <input class="form-control" asp-for="gender" />
    </div>
    <div class="form-group">
        <label asp-for="email"></label>
        <input class="form-control" asp-for="email" />
    </div>
    <div class="form-group">
        <label asp-for="phone_Number"></label>
        <input class="form-control" asp-for="phone_Number" />
    </div>
    <div class="form-group">
        <label asp-for="country_code"></label>
        <input class="form-control" asp-for="country_code" />
    </div>
    
    <div class="form-group">
        <label asp-for="balance"></label>
        <input class="form-control" asp-for="balance" />
    </div>

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

    @*@if (ViewBag.Result == "Success")*@
@if (Model!=null)
{
    <h2>Customer</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Country code</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.id</td>
                <td>@Model.firstname</td>
                <td>@Model.lastname</td>
                <td>@Model.gender</td>
                <td>@Model.email</td>
                <td>@Model.phone_Number</td>
                <td>@Model.country_code</td>
                <td>@Model.balance</td>
            </tr>
        </tbody>
    </table>
}